@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;500&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}
.rdp-vhidden {
  @apply hidden;
}

.heading {
  @apply font-[500];
}
.white-id-bg {
  background: url("/assets/logo.png") no-repeat 55%;
  background-blend-mode: overlay;
  background-size: contain;
}
